@import '../shared/media-queries';

.header {
  background: white;
  height: 45px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 1;

  & .logo {
    height: 17px;
    position: relative;
    top: 15px;
  }

  @include medium-viewport {
    & {
      text-align: left;

      & .logo {
        left: 12px;
      }
    }
  }

  @include large-viewport {
    & {
      height: 60px;
      position: unset;
      text-align: center;

      & .logo {
        height: 25px;
        left: unset;
      }
    }
  }
}
