@import '../shared/media-queries';

@keyframes results--slideUp {
  to {
    bottom: 50%;
    transform: translate3d(0, -50%, 0);
  }
}

@keyframes results--slideDown {
  to {
    top: 50%;
    transform: translate3d(0, -50%, 0);
    width: 100%;
  }
}

@keyframes results--scaleStarUp {
  to {
    transform: scale3d(2, 2, 1);
  }
}

@keyframes results__button--in {
  from {
    filter: blur(10px);
    opacity: 0;
    transform: translate3d(0, 10px, 0);
  }

  to {
    opacity: 1;
  }
}

.results {
  background: white;
  border-top: 1px solid lightgrey;
  bottom: 0;
  font-weight: bold;
  height: 40px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 2;

  &--complete {
    animation: results--slideUp .3s forwards;
    border-top: unset;
  }

  &__stars {
    display: flex;
    justify-content: space-around;
  }

  &__star {
    height: 30px;
    margin-top: 5px;
  }

  &__star-path {
    fill: none;
    stroke: lightgrey;
    stroke-width: 2;
  }

  &__star--correct {
    animation: tada .5s;

    & .results__star-path {
      fill: limegreen;
      stroke: limegreen;
    }
  }

  &__star--incorrect {
    animation: tada .5s;

    & .results__star-path {
      stroke: red;
    }
  }

  &__details {
    animation: results__button--in .3s ease-out .3s forwards;
    margin-top: 30px;
    opacity: 0;
  }

  &__reset-button {
    animation: results__button--in .3s ease-out .6s forwards;
    cursor: pointer;
    margin-top: 20px;
    opacity: 0;
  }

  &__reset-icon {
    height: 18px;
    position: relative;
    right: 4px;
    top: 4px;
  }

  @include medium-viewport {
    & {
      background: unset;
      border-top: unset;
      bottom: unset;
      font-size: 20px;
      height: unset;
      right: 0;
      top: 0;
      width: calc(100% - 90px);

      &__details {
        margin-top: 40px;
      }

      &__reset-icon {
        top: 3px;
      }

      &--complete {
        animation: results--slideDown .3s forwards;

        & .results__star {
          animation: results--scaleStarUp .3s forwards;
        }
      }
    }
  }

  @include large-viewport {
    & {
      position: relative;
      font-size: 24px;
      right: unset;
      width: unset;
    }

    &__details {
      margin-top: 50px;
    }

    &__stars {
      justify-content: space-between;
      margin: 0 auto;
      width: 512px;
    }

    &__reset-icon {
      top: 2px;
    }
  }
}
