@mixin medium-viewport {
  @media (min-width: 600px) { @content; }
}

@mixin large-viewport {
  @media (min-width: 1024px) { @content; }
}

@mixin landscape {
  @media (orientation: landscape) { @content; }
}
